{{> head }}
{{> navbar }}


<div class="row">
  <div class="col-8">
    texto para la imagen subida
  </div>

  <div class="col-4">
    <img src='assets/img/Jellyfish.jpg' class="img-thumbnail">
  </div>

</div>

{{> footer }}